<web-app>

<servlet>
<servlet-name>dbconnser</servlet-name>
<servlet-class>DbConnServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dbconnser</servlet-name>
<url-pattern>/dbs</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>inser</servlet-name>
<servlet-class>InsertServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>inser</servlet-name>
<url-pattern>/ins</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>upser</servlet-name>
<servlet-class>UpdateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>upser</servlet-name>
<url-pattern>/us</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>delser</servlet-name>
<servlet-class>DeleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>delser</servlet-name>
<url-pattern>/dels</url-pattern>
</servlet-mapping>

</web-app>